[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "==9.0.3"
pynacl = "==1.6.2"

[dev-packages]
ruff = "==0.14.2"
mypy = "==1.18.2"

[requires]
python_version = "3.12"
