Section: misc
Priority: optional
Maintainer: ##MAINTAINER##
Package: ##PACKAGE##
Version: ##VERSION##
Architecture: amd64
Depends: pinentry-gnome3 | pinentry
Homepage: https://github.com/tillitis/tillitis-key1-apps
Description: ssh-agent backed by Tillitis TKey
 tkey-ssh-agent is an alternative ssh-agent backed by a private ed25519 key
 residing in the hardware TKey, a USB stick.
